# Ignorowanie folderu .idea (ustawienia PyCharm)
.idea/

# Ignorowanie środowiska wirtualnego Python
.venv/
env/
.env/

# Ignorowanie plików cache Pythona
__pycache__/
*.py[cod]

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików logów
*.log

